
<%- include('layouts/head') %>
  <body>  
    <main class="main-container">
      <%- include('layouts/main-section') %>
      <div class="bg-blur"></div>
      <%- include('layouts/aside') %>
    </main>    
    <!-- for change background -->
    <input id="bg-img" type="hidden" value="<%= weatherMain %>">
    <input id="day" type="hidden" value="<%= mainInfo.icon %>">


    <!-- javascript -->
  <script type="module">
    import {loadingAnimation} from "/script/loading.js"
    import {changeBackgroundImg} from "/script/changeBg.js"
    import {} from "/script/search.js"

    changeBackgroundImg()
    const searchForm = document.querySelector(".search-form");
    searchForm.addEventListener("submit", loadingAnimation);
    // handleSearchInput()
  </script>
  </body>
</html>